{% extends 'B2BBlogBundle:template:base.html.twig' %}
{% block headjs %}
    (function($){
    $(function(){
    $(".open-debug").on("click", function(){
    $(this).next(".dump").toggleClass('hidden');
    });
    });
    })(jQuery);
{% endblock %}
{% block content %}
<div class="row">
    {% if data|length  %}
        <div class="col-sm-4">
            <img src="
                {% if data.image|length %}
                {{ data.image }}
                {% else %}
                {{ asset('bundles/b2bblog/images/logo-placeholder.jpg') }}
                {% endif %}"
                alt="{{ data.nm }}" class="profile-logo" />
            </div>
            <div class="col-sm-8">
                <ul class="list-unstyled">
                    <li><h1>{{ data.nm }}</h1><br></li>
                    <li>
                        <p>about company:</p>
                        <div>
                        {{ data.description }}
                        </div>
                        <br>
                    </li>
                    <li>
                        <ul class="list-unstyled">
                            <li>phones:</li>
                            {% for phone in data.phone_number %}
                                <li>{{ phone }}</li>
                            {% endfor %}
                        </ul>
                        <br>
                    </li>
                    <li>
                        <ul class="list-unstyled">
                            <li>emails:</li>
                            {% for email in data.email %}
                                <li>{{ email }}</li>
                            {% endfor %}
                        </ul>
                        <br>
                    </li>
                    {% if data.fax_number is defined %}
                    <li>
                        <ul class="list-unstyled">
                            <li>fax:</li>
                            <li>{{ data.fax_number }}</li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <hr>
            <div class="text-center"><a href="#" class="btn btn-default disabled">Visit store</a></div>
            <!-- debug -->
            <p class="open-debug" title="debug"><span class="glyphicon glyphicon-plus-sign"></span></p>
            <div class="dump hidden">
            {{ dump(data) }}
            </div>
            <!-- //debug -->
    {% endif %}
</div>
{% endblock %}
