{% extends 'B2BBlogBundle:template:base.html.twig' %}
{% block title %}
    {{ parent() }}
    {% include 'B2BBlogBundle:partials:title.html.twig' %}
{% endblock %}
{% block externaljs %}
    <script src="{{ asset('bundles/b2bblog/js/debug-dump.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="row">
    {% if data.profile|length  %}
        <div class="col-sm-4">
            <img src="
                {% if data.profile.image|length %}
                {{ data.profile.image }}
                {% else %}
                {{ asset('bundles/b2bblog/images/logo-placeholder.jpg') }}
                {% endif %}"
                alt="{{ data.profile.nm }}" class="profile-logo" />
        </div>
        <div class="col-sm-8">
            <ul class="list-unstyled">
                <li><h1>{{ data.profile.nm }}</h1><br></li>
                <li>
                    <p>about company:</p>
                    <div>
                    {{ data.profile.description }}
                    </div>
                    <br>
                </li>
                {% if data.profile.phone_number is defined %}
                <li>
                    <ul class="list-unstyled">
                        <li>phones:</li>
                        {% for phone in data.profile.phone_number %}
                            <li>{{ phone }}</li>
                        {% endfor %}
                    </ul>
                    <br>
                </li>
                {% endif %}
                {% if data.profile.email is defined %}
                <li>
                    <ul class="list-unstyled">
                        <li>emails:</li>
                        {% for email in data.profile.email %}
                            <li>{{ email }}</li>
                        {% endfor %}
                    </ul>
                    <br>
                </li>
                {% endif %}
                {% if data.profile.fax_number is defined %}
                <li>
                    <ul class="list-unstyled">
                        <li>fax:</li>
                        <li>{{ data.profile.fax_number }}</li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
        <hr>
        <div class="text-center"><a href="#" class="btn btn-default disabled">Visit store</a></div>
        {% include 'B2BBlogBundle:partials:debug.html.twig' with { 'data': data.profile } %}
    {% endif %}
</div>
{% endblock %}
