{% extends 'B2BBlogBundle:template:base.html.twig' %}
{% block title %}
    {{ parent() }}
    {% include 'B2BBlogBundle:partials:title.html.twig' %}
{% endblock %}
{% block externaljs %}
    <script src="{{ asset('bundles/b2bblog/js/debug-dump.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}
    {% if data.articles is defined %}
    <dl>
    {% for article in data.articles %}
        <dt>{{ article.title }}</dt>
        <dd>
            {{ article.description }}
            <p class="text-right">
                <a href="{{ path("show_client_article", {"articleId": article.id }) }}">full article</a>
            </p>
            <hr />
        </dd>
    {% endfor %}
    {% endif %}
    </dl>
    {% include 'B2BBlogBundle:partials:debug.html.twig' with { 'data': data.articles } %}
{% endblock %}