{% extends 'B2BBlogBundle:template:base.html.twig' %}
{% block title %}
    {{ parent() }}
    {% include 'B2BBlogBundle:partials:title.html.twig' %}
{% endblock %}
{% block externaljs %}
    <script src="{{ asset('bundles/b2bblog/js/debug-dump.js') }}" type="text/javascript"></script>
{% endblock %}
{% block bodyattributes %}class="index-page post-list"{% endblock %}
{% block content %}
    {% if data.articles is defined %}
    {% for article in data.articles %}
        <div class="col-xs-4 square-block post-block post-block">
            <div class="inner">
                <ul class="list-unstyled">
                    <li class="post-image">
                        <img src="{{ article.image ? article.image : 'http://placehold.it/250x250&text=post+image' }}" alt="post" />
                    </li>
                    <li>
                        <h3 class="post-title"><a href="{{ path('show_client_article', { 'articleId': article.id }) }}">
                                {{ article.title|length > 36 ? article.title|slice(0, 36) ~ '...' : article.title  }}</a></h3>
                    </li>
                    <li>
                        <p class="post-description">{{ article.description|length > 125 ? article.description|trim()|slice(0, 125) ~ '...' : article.description }}</p>
                    </li>
                </ul>
                <footer>
                    <a href="{{ path("show_client_article", {"articleId": article.id }) }}">more...</a>
                    <p class="pull-right">Views {{ article.id in data.count|keys ? data.count[article.id] : 0 }}</p>
                </footer>
            </div>
            {##}
        </div>
    {% endfor %}
    {% endif %}

{% endblock %}
